{{ define "main" }}

{{ partial "page-title.html" . }}

<!-- project -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <img src="{{ .Params.image | absURL }}" class="img-fluid project-img" alt="{{ .Title }}">
        <div class="project-meta">
          <i class="ti-folder"></i>
          <div class="ml-3">
            <h4>Categorie</h4>
            <p>{{ delimit .Params.categories ", " | humanize }}</p>
          </div>
        </div>
        {{ with .Params.project_url}}
        <div class="project-meta">
          <i class="ti-link"></i>
          <div class="ml-3">
            <h4>Project Link</h4>
            <p>{{. | markdownify}}</p>
          </div>
        </div>
      </div>
      {{ end }}
      <div class="col-md-7">
        <div class="content">{{.Content}}</div>
      </div>
    </div>

  </div>
</section>
<!-- /project -->

{{ end }}