{{ define "main" }}

<script>
  function getDiff(endDate) {
    const now = new Date().getTime();
    const distance = new Date(endDate).getTime() - now;
    const days = Math.floor(distance / (1000 * 60 * 60 * 24));
    const hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
    const minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
    const seconds = Math.floor((distance % (1000 * 60)) / 1000);

    if (distance > 0) {
      const DAYS = days == '0' ? '' : days + ' d ';
      const HOURS = hours == '0' ? '' : hours + ' h ';
      const MINUTES = minutes == '0' ? '' : minutes + ' m ';
      const SECONDS = seconds == '0' ? '' : seconds + ' s ';
      return DAYS + HOURS  + MINUTES + SECONDS;
    }

    return 'EXPIRED';
  }

  function countdown(endDate, inputId) {
    const t = setInterval(() => {
      let diff = getDiff(endDate);

      if (diff === 'EXPIRED') {
        diff = '';
        document.getElementById(`hidden-${inputId}`).style.display = 'block';
        document.getElementById(`title-${inputId}`).style.display = 'block';
        document.getElementById(`designation-${inputId}`).style.display = 'block';
        document.getElementById(`designation-long-${inputId}`).style.display = 'block';
        document.getElementById(`incognito-${inputId}`).style.display = 'none';
        document.getElementById(`countdown-${inputId}`).style.display = 'none';
        clearInterval(t);
      } else {
        document.getElementById(`countdown-${inputId}`).innerHTML = diff;
      }
    }, 1000);
  }
  let datetime;
</script>

<!-- page title -->
<section class="page-title-alt bg-primary position-relative overflow-hidden">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="text-white font-tertiary">{{ .Title }}</h1>
      </div>
    </div>
  </div>
  <!-- background shapes -->
  <img src="{{`images/illustrations/page-title.png`| relURL}}" alt="illustrations" class="bg-shape-1 w-100">
  <img src="{{`images/illustrations/dots-group-sm.svg`| relURL}}" alt="illustrations" class="bg-shape-2">
  <img src="{{`images/illustrations/leaf-yellow.svg`| relURL}}" alt="illustrations" class="bg-shape-3">
  <img src="{{`images/illustrations/meteor-shower-asteroid-svgrepo-com.svg`| relURL}}" alt="illustrations" class="bg-shape-4">
  <img src="{{`images/illustrations/dots-group-cyan.svg`| relURL}}" alt="illustrations" class="bg-shape-5">
  <img src="{{`images/illustrations/leaf-cyan-lg.svg`| relURL}}" alt="illustrations" class="bg-shape-6">
</section>
<!-- /page title -->

<!-- about -->
<section class="section pt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        {{ .Content }}
      </div>
      <div class="col-md-4 text-center drag-lg-top">
        <div class="shadow-down mb-4" style="font-family: CasaNova Scotia !important;">
          <img src="{{.Params.author_image | absURL }}" style="background-color: #fff; border: 1px solid #fff; border-radius: 12em !important" alt="author"
            class="img-fluid w-100 rounded-lg border-thick border-white">
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /about -->

<!-- team -->
{{ if site.Data.about.team.enable }}
{{ with site.Data.about.team }}
<section class="section bg-cover">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title">{{ .title | markdownify }}</h2>
      </div>
      {{ range .team_member }}
      <div class="col-md-4 col-sm-6 mb-4 mb-md-0">
        <div class="card text-center profile-member">
          <div id="hidden-{{.id}}" style="display: none">
            <img src="{{ .image | absURL }}" class="card-img-top greyscale-effect">
          </div>
          <div id="incognito-{{.id}}">
            <img src="{{ .imageinc | absURL }}" class="card-img-top greyscale-effect">
          </div>
          <div class="card-body">
            <h4 class="card-title" id="title-{{.id}}" style="display: none;">{{.title }}</h4>
            <p class="text-light font-secondary" id="designation-{{.id}}" style="display: none;">{{.designation }}</p>
            <div id="countdown-{{.id}}" style="text-shadow: 1px 1px 1px #000000; font-size: 30px;"></div>
            <div class="hidden-desc">
              <span class="text-light font-secondary" id="designation-long-{{.id}}" style="display: none;">{{.designationLong }}</span>
            </div>
            <script>
              datetime = '{{.time}}';
              if (!!datetime) {
                countdown(datetime, '{{.id}}');
              } else {
                document.getElementById('hidden-{{.id}}').style.display = 'block';
                document.getElementById('title-{{.id}}').style.display = 'block';
                document.getElementById('designation-{{.id}}').style.display = 'block';
                document.getElementById('designation-long-{{.id}}').style.display = 'block';
                document.getElementById('incognito-{{.id}}').style.display = 'none';
                document.getElementById('countdown-{{.id}}').style.display = 'none';
              }
            </script>          
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- /team -->

<!-- fondatori -->
{{ if site.Data.about.fondatori.enable }}
{{ with site.Data.about.fondatori }}
<section class="section bg-cover">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title">{{ .title | markdownify }}</h2>
      </div>
      {{ range .team_member }}
      <div class="col-md-4 col-sm-6 mb-4 mb-md-0">
        <div class="card text-center">
          <img src="{{ .image | absURL }}" class="card-img-top greyscale-effect">
          <div class="card-body">
            <h4 class="card-title">{{.title }}</h4>
            <p class="text-light font-secondary">{{.designation }}</p>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- /fondatori -->

<!-- onorari -->
{{ if site.Data.about.onorari.enable }}
{{ with site.Data.about.onorari }}
<section class="section bg-cover">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title">{{ .title | markdownify }}</h2>
      </div>
      {{ range .team_member }}
      <div class="col-md-4 col-sm-6 mb-4 mb-md-0">
        <div class="card text-center">
          <img src="{{ .image | absURL }}" class="card-img-top greyscale-effect">
          <div class="card-body">
            <h4 class="card-title">{{.title }}</h4>
            <p class="text-light font-secondary">{{.designation }}</p>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- /onorari -->

{{ if site.Data.about.clients_logo_slider.enable }}
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title">{{ site.Data.about.clients_logo_slider.title | markdownify }}</h2>
      </div>
    </div>
    {{ partial "client-slider.html" . }}
  </div>
</section>
{{ end }}

{{ end }}
